* {
	outline: 1px dotted red;
}


body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 23px;

	color: #FFFFFF;
	background-color: #1F1C1D;

	width: 1366px;
	margin: 0;
	padding: 0;
}

a
{
    text-decoration: none;
    color: #fff;
}

/*голобальный стиль для всех картинок, чтобы не вылезало за родительский блок*/
img
{
    max-width: 100%;
    height: auto;
}


/*обновленный visually-hidden*/
.visually-hidden:not(:focus):not(:active)
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

.main-header {
	background-color: #181617;
	background-image: url(../img/cat-in-header.png);
	background-position: 100% 0%;
	background-repeat: no-repeat;
	min-height: 684px;
}

.main-header a {
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 55px;
	width: 59px;
	height: 59px;
}

.container {
	display: flex;
	flex-direction: column;
}

.main-header .main-header-container {
	display: flex;
	flex-direction: column;

}

.header-content {
	width: 500px;
	margin-top: ;
	margin-left: 200px;
}

.header-content .header-city {
	margin-bottom: 18px;
}

.header-content h1 {
	font-family: Yeseva One;
	font-size: 52px;
	line-height: 60px;
	margin: 0;
	margin-bottom: 30px;
}

.header-content p {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 24px;

	color: #A07B50;

	margin: 0;
}

.header-content .header-description {
	width: 330px;
	margin-bottom: 65px;
}

.button {
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	border: 0.5px solid #A07B50;
}

.header-button {
	width: 200px;
	height: 52px;
	padding: 17px 35px;
	margin-bottom: 50px;
	
}

.socials {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-socials {
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: column;
	-ms-align-self: center;
	margin-top: 60px;
	margin-left: 70px;
	width: 16px;
} 

.header-socials ul::before {
	/*position: absolute;
	content: "";
	width: 10px;
	height: 77px;
	color:rgba(255, 255, 255, 0.61);
	z-index: 4;
	left: -50px; */
/*	content:"";
 width: 100%;
 height: 100%;
 display: block;
 z-index: 2;
 position: relative;
 padding: 25px;
 /*background: #eee;*/
/* position: absolute;
 left: -25px;
 top: -25px;*/*/
}

.header-socials li {
	-ms-align-self: center;
	align-self: center;
}

.main-content h2 {
	font-family: Yeseva One;
	font-size: 36px;
	line-height: 42px;
}

.main-content h2 + p {
	color: #A07B50;
}


.pets-container * {
	align-self: center;

}

.pets h2 {
	margin: 0;
	margin-top: 220px;
	margin-bottom: 20px;
}

.pets .pets-description {
	width: 515px;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	margin: 0;
	margin-bottom: 40px;
}

.pets-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 250px;
	display: flex; 
	justify-content: space-between;
	margin-bottom: 20px;
}

.pets-item .pets-tab {
	color: rgba(255, 255, 255, 0.2);
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}

.pets-item .active {
	color: #fff;
}

.pets-photo {
	margin: 0;
	padding: 0;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 486px;
	margin-bottom: 70px;
}

.pets-photo img:first-child {
	margin-bottom: 30px;
	
}

.pets-photo img:last-child {
	height: 485px;
	margin-left: 30px;
}

.pets-button {
	box-sizing: border-box;
	width: 200px;
	height: 52px;
	padding: 17px 35px;
	margin-bottom: 100px;
}

.pets-features-container * {
	align-self: center;
}

.pets-features h2 {
	margin: 0;
	margin-bottom: 23px;
}

.pets-features .pets-features-description {
	margin: 0;	
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	width: 735px;
}

.pets-features-img {
	background-image: url(../img/котя3.png);
	background-repeat: no-repeat;
	background-position: 0 -50px;
	width: 630px;
	height: 700px;
}

.pets-features .pets-features-list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;

}

.nursery-features * {
	-ms-align-self: center;
	align-self: center;
}

.nursery-features h2 {

	margin: 0;
	margin-top: 80px;
	margin-bottom: 20px;
}

.nursery-features .nursery-features-description {
	margin: 0;

}

.nursery-features .nursery-features-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.care .care-list {
	list-style: none;
	margin: 0;
	padding: 0;
}






